---
import BaseLayout from "../layouts/BaseLayout.astro";
import SitePage from "../components/SitePage.astro";
import TextWithImage from "../components/TextWithImage.astro";
import QuoteBlock from "../components/QuoteBlock.astro";
import { CONFIG } from "../site-config";
import ServiceGrid from "../components/ServiceGrid.astro";
import ServiceCard from "../components/ServiceCard.astro";

const baseUrl = import.meta.env.BASE_URL || '/';

const services = [
  {
    id: "B",
    title: "Ατομική θεραπεία ενηλίκων",
    href: `${baseUrl}/services/individual-adults`,
    description: "Διερεύνηση των ενδόμυχων σκέψεων και βιωμάτων του ώριμου ατόμου"
    // description: "Δομημένος χώρος διερεύνησης των σκέψεων, των συναισθημάτων και των βιωμάτων του ώριμου ατόμου. Στο επίκεντρο βρίσκεται η μοναδική προσωπική ιστορία κάθε ανθρώπου, καθώς και ο τρόπος με τον οποίο οι εμπειρίες ζωής, οι σχέσεις και τα εσωτερικά μοτίβα επηρεάζουν τη σημερινή του λειτουργικότητα."
  },
  {
    id: "C",
    title: "Ατομική θεραπεία εφήβων",
    href: `${baseUrl}/services/individual-teenagers`,
    description: "Έκφραση και κατανόηση εαυτού σε μια κρίσιμη αναπτυξιακή φάση του ατόμου"
    // description: "Ασφαλής χώρος έκφρασης και κατανόησης εαυτού σε μια ιδιαίτερα κρίσιμη αναπτυξιακή φάση του ατόμου. Στοχεύει στη στήριξη του εφήβου, ενισχύοντας την ψυχική του ανθεκτικότητα και τη σταδιακή του αυτονόμηση μέσα σε καταστάσεις έντονων συναισθηματικών μεταβολών και αναζήτησης ταυτότητας."
  },
  {
    id: "E",
    title: "Θεραπεία ζεύγους",
    href: `${baseUrl}/services/couple-therapy`,
    description: "Μη επικριτική διερεύνηση της σχέσης και αμοιβαία κατανόηση μοτίβων επικοινωνίας"
    // description: "Υποστηρικτικό και μη επικριτικό πλαίσιο εξερεύνησης της σχέσης του ζεύγους και αμοιβαίας κατανόησης των μοτίβων επικοινωνίας. Η σχέση δεν εξετάζεται απομονωμένα, αλλά ως μέρος ενός ευρύτερου συστήματος –οικογένειας, κοινωνικού περιβάλλοντος και προσωπικού ιστορικού– όπου κάθε μέλος επηρεάζει και επηρεάζεται από τους υπόλοιπους."
  },
  {
    id: "F",
    title: "Θεραπεία οικογένειας",
    href: `${baseUrl}/services/family-therapy`,
    description: "Αμοιβαία διερεύνηση των δεσμών και αλληλοκατανόηση μεταξύ των μελών της"
    // description: "Δομημένος χώρος αμοιβαίας διερεύνησης των σχέσεων και αλληλοκατανόησης μεταξύ των μελών της οικογένειας. Στόχος είναι να ενισχυθεί η επικοινωνία, η συναισθηματική σύνδεση και η συνολική ισορροπία του οικογενειακού συστήματος, πέρα από την αντιμετώπιση μόνο μεμονωμένων προβλημάτων ή προβληματικών συμπεριφορών."
  },
  {
    id: "G",
    title: "Συμβουλευτική γονέων",
    href: `${baseUrl}/services/parents-counseling`,
    description: "Επεξεργασία προκλήσεων της γoνεϊκότητας και κατανόησηs των παιδικών αναγκών"
    // description: "Υποστηρικτικό πλαίσιο επεξεργασίας των προκλήσεων της γoνεϊκότητας και καλύτερης κατανόησης των αναγκών των παιδιών. Η διαδικασία αυτή δεν επικεντρώνεται σε «σωστούς» ή «λάθους» τρόπους ανατροφής, αλλά στην κατανόηση των μοναδικών δυναμικών που διαμορφώνουν την επικοινωνία και τη λειτουργικότητα της κάθε οικογένειας."
  },
  {
    id: "D",
    title: "Διαδικτυακές συνεδρίες",
    href: `${baseUrl}/services/online-sessions`,
    description: "Υποστήριξη και θεραπεία μέσω απομακρυσμένης επικοινωνίας"
    // description: "Υποστήριξη και θεραπεία μέσω βιντεοκλήσεων, ειδικών εφαρμογών ή κρυπτογραφημένης επικοινωνίας. Παρέχεται σε περιπτώσεις όπου η φυσική παρουσία είναι δύσκολη ή ανέφικτη, ή όποτε κάποιο άτομο νιώθει πιο άνετα να ξεκινήσει θεραπεία από τον προσωπικό του χώρο. Πραγματοποιούνται με τον ίδιο τρόπο όπως οι παραδοσιακές συνεδρίες."
  },
];
---

<BaseLayout title="Αρχική">

  <SitePage
    title=""
  >

    <!--
    <QuoteBlock
      author="Rainer Maria Rilke, 1929"
      position="left"
      align="right"
      edgeMargin="0.0rem"
      size="md"
    >
      "Perhaps everything terrible is, in its deepest essence, something
      helpless that wants help from us."
    </QuoteBlock>
    -->



    <TextWithImage
      imageSrc=`${import.meta.env.BASE_URL}/images/intro-image-1.jpg`
      imageAlt="Sample image"
      imagePosition="top-right"
      textAlignment="justify"
      imageMargin="33px"
      imageWidth="435px"
      roundedCorners={true}
      mobileSpacing="1.5rem"
      gap="0.1rem"
      mobileImageWidth="80%"
    >
      <p>
      
        Η ψυχοθεραπεία συνιστά έναν ουσιαστικό και ασφαλή χώρο εσωτερικής
        διερεύνησης, όπου το άτομο έχει τη δυνατότητα να προσεγγίσει σε βάθος τον εαυτό
        του, τα βιώματά του, τις διαπροσωπικές του δυναμικές και το συναισθηματικό του
        τοπίο. Θεμελιώνεται σε μια σχέση συνεργατική και αυθεντική, όπου η αποδοχή της
        παρούσας εμπειρίας συνυπάρχει με τη δυνατότητα για ουσιαστική αλλαγή. Ο σκοπός
        της δεν περιορίζεται στη συμπτωματική ανακούφιση, αλλά εκτείνεται στη βαθύτερη
        ενίσχυση της αυτογνωσίας και της ψυχικής ανθεκτικότητας. Μέσα από μια
        διαδικασία προσωπικής εξερεύνησης και νοηματοδότησης της εμπειρίας,
        καλλιεργείται η συναισθηματική ισορροπία, ενδυναμώνεται η ικανότητα
        αυτορρύθμισης και ενισχύεται η δυνατότητα για αυθεντικές, ικανοποιητικές και
        ουσιαστικές σχέσεις — τόσο με τον εαυτό όσο και με τους άλλους.
      </p>
    </TextWithImage>

    <ServiceGrid columns={3}>
      <ServiceCard
        title={services[0].title}
        description={services[0].description}
        href={services[0].href}
      />
      <ServiceCard
        title={services[1].title}
        description={services[1].description}
        href={services[1].href}
      />
      <ServiceCard
        title={services[2].title}
        description={services[2].description}
        href={services[2].href}
      />
      <ServiceCard
        title={services[3].title}
        description={services[3].description}
        href={services[3].href}
      />
      <ServiceCard
        title={services[4].title}
        description={services[4].description}
        href={services[4].href}
      />
      <ServiceCard
        title={services[5].title}
        description={services[5].description}
        href={services[5].href}
      />
    </ServiceGrid>

  </SitePage>
</BaseLayout>

