---
import { CONFIG } from "../site-config";
import IconEmail from "../components/IconEmail.astro";
import IconPhone from "../components/IconPhone.astro";
import IconAddress from "../components/IconAddress.astro";
---

<footer class="site-footer" data-theme="theme-floral">
  <div>
    <p class="footer-line-1">
        © {CONFIG.year}, {CONFIG.fullName}
        <span class="separator">·</span>
        {CONFIG.professionTitle}
        <span class="separator">·</span>
        {CONFIG.specialtySystemic}
        <span class="separator">/</span>
        {CONFIG.specialtyDialectic}
    </p>

    <p class="footer-line-3">
        <span class="contact-icon"><IconAddress /></span>
        {CONFIG.address}

        <span class="separator">·</span>

        <span class="contact-icon"><IconEmail /></span>
        <a href={`mailto:${CONFIG.email}`}>{CONFIG.email}</a>

        <span class="separator">·</span>

        <span class="contact-icon"><IconPhone /></span>
        {CONFIG.phone}
    </p>
  </div>
</footer>
